src/test/resources/PetsXMLValidation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pets">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Pet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="category" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:unsignedInt" />
                    <xs:element name="name" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="id" type="xs:unsignedLong" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="photoUrls">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="photoUrl" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="status" type="xs:string" />
              <xs:element name="tags">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="id" type="xs:unsignedInt" />
                          <xs:element name="name" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
